# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
# Calculate the total number of schools
total_schools = school_data["School ID"].count()

total_schools

15

In [5]:
# Calculate the total budget
school_budget = school_data["budget"].sum()

school_budget

24649428

In [6]:
# Calculate the total number of students
total_students = school_data_complete["student_name"].count()

total_students

39170

In [7]:
# Calculate the average math score
average_math = school_data_complete["math_score"].mean()

round(average_math)

79

In [8]:
# Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()

round(average_reading)

82

In [9]:
# Calculate the overall passing rate (overall average score)

overall_passing_rate = (average_reading + average_math) / 2

clean_rate = round((overall_passing_rate),2)

clean_rate

80.43

In [10]:
# Calculate the percentage of students with a passing math score (70 or greater)

passing_math = (school_data_complete["math_score"] >= 70)
passing_reading = (school_data_complete["reading_score"] >= 70)

per_passing_math = round((passing_math.sum()/total_students)*100, 2)

per_passing_reading = round((passing_reading.sum()/total_students)*100, 2)

In [11]:
summary_df = pd.DataFrame(
    {"Total Schools": [total_schools],
     "Total Students": [total_students],
     "Total Budget": [school_budget],
     "Average Math Score": [average_math],
     "Average Reading Score": [average_reading],
     "Overall Average Score": [clean_rate],
     "Precentage Passing Math (Scores Over 70)": [per_passing_math],
     "Percentage Passing Reading (Scores Over 70)": [per_passing_reading],
     }
)
summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Average Score,Precentage Passing Math (Scores Over 70),Percentage Passing Reading (Scores Over 70)
0,15,39170,24649428,78.985371,81.87784,80.43,74.98,85.81

In [12]:
# Figure out mapping issues
summary_df["Total Students"] = summary_df["Total Students"].map("${:,.2f}".format)
summary_df["Total Budget"] = summary_df["Total Budget"].map("${:,.2f}".format)

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [13]:
merged_school_data = pd.merge(school_data, student_data, how='outer', on="school_name")
merged_school_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [ ]:
# total students per school, finding the percent over 70 

# students_over_70 = merged_school_data["math_score"] >= 70

# students_over_70

#  merged_school_data.set_index('school_name')

# school_groups = merged_school_data(['school_name']).sum()/[students_over_70]

In [14]:
# total students per school, finding the percent over 70 

students_over_70_math = (merged_school_data["math_score"] >= 70) * 100
students_over_70_reading = (merged_school_data["reading_score"] >= 70) * 100

In [15]:
merged_school_data["Pass Math"] = students_over_70_math
merged_school_data["Pass Reading"] = students_over_70_reading

merged_school_data

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score,Pass Math,Pass Reading
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79,100,0
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61,0,100
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60,0,100
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58,0,0
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84,100,100
5,0,Huang High School,District,2917,1910635,5,Bryan Miranda,M,9th,94,94,100,100
6,0,Huang High School,District,2917,1910635,6,Sheena Carter,F,11th,82,80,100,100
7,0,Huang High School,District,2917,1910635,7,Nicole Baker,F,12th,96,69,0,100
8,0,Huang High School,District,2917,1910635,8,Michael Roth,M,10th,95,87,100,100
9,0,Huang High School,District,2917,1910635,9,Matthew Greene,M,10th,96,84,100,100
10,0,Huang High School,District,2917,1910635,10,Andrew Alexander,M,10th,90,70,100,100
11,0,Huang High School,District,2917,1910635,11,Daniel Cooper,M,10th,78,77,100,100
12,0,Huang High School,District,2917,1910635,12,Brittney Walker,F,9th,64,79,100,0
13,0,Huang High School,District,2917,1910635,13,William Long,M,9th,71,79,100,100
14,0,Huang High School,District,2917,1910635,14,Tammy Hebert,F,10th,85,67,0,100
15,0,Huang High School,District,2917,1910635,15,Dr. Jordan Carson,M,11th,94,88,100,100
16,0,Huang High School,District,2917,1910635,16,Donald Zamora,M,9th,88,55,0,100
17,0,Huang High School,District,2917,1910635,17,Kimberly Santiago,F,9th,74,75,100,100
18,0,Huang High School,District,2917,1910635,18,Kevin Stevens,M,9th,64,69,0,0
19,0,Huang High School,District,2917,1910635,19,Brandi Lyons,F,9th,89,80,100,100
20,0,Huang High School,District,2917,1910635,20,Lisa Davis,F,10th,91,89,100,100
21,0,Huang High School,District,2917,1910635,21,Kristen Lopez,F,10th,90,77,100,100
22,0,Huang High School,District,2917,1910635,22,Kimberly Stewart,F,11th,99,84,100,100
23,0,Huang High School,District,2917,1910635,23,Christopher Parker,M,9th,81,68,0,100
24,0,Huang High School,District,2917,1910635,24,Chelsea Griffith,F,11th,85,73,100,100
25,0,Huang High School,District,2917,1910635,25,Cesar Morris,M,9th,92,70,100,100
26,0,Huang High School,District,2917,1910635,26,Melanie Decker,F,9th,63,85,100,0
27,0,Huang High School,District,2917,1910635,27,Tracey Oconnor,F,10th,80,58,0,100
28,0,Huang High School,District,2917,1910635,28,Kelly James,F,11th,73,55,0,100
29,0,Huang High School,District,2917,1910635,29,Nicole Brown,F,12th,90,88,100,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,14,Thomas High School,Charter,1635,1043130,39140,Cheyenne Hernandez,F,9th,76,99,100,100
39141,14,Thomas High School,Charter,1635,1043130,39141,Jonathan Sullivan,M,10th,86,93,100,100
39142,14,Thomas High School,Charter,1635,1043130,39142,Deborah Higgins DDS,F,10th,96,83,100,100
39143,14,Thomas High School,Charter,1635,1043130,39143,Steven Jackson,M,11th,71,93,100,100
39144,14,Thomas High School,Charter,1635,1043130,39144,Cristian Webster,M,12th,77,87,100,100
39145,14,Thomas High School,Charter,1635,1043130,39145,Audrey Fry,F,10th,94,74,100,100
39146,14,Thomas High School,Charter,1635,1043130,39146,Michael Carroll,M,9th,69,95,100,0
39147,14,Thomas High School,Charter,1635,1043130,39147,Raymond Hawkins,M,10th,88,81,100,100
39148,14,Thomas High School,Charter,1635,1043130,39148,Christopher Wilson,M,10th,89,89,100,100
39149,14,Thomas High School,Charter,1635,1043130,39149,Glenda Fletcher,F,11th,82,93,100,100
39150,14,Thomas High School,Charter,1635,1043130,39150,Jennifer Hamilton,F,11th,80,75,100,100
39151,14,Thomas High School,Charter,1635,1043130,39151,Shannon Williams,F,10th,84,73,100,100
39152,14,Thomas High School,Charter,1635,1043130,39152,Lori Moore,F,9th,98,84,100,100
39153,14,Thomas High School,Charter,1635,1043130,39153,William Hubbard,M,9th,80,75,100,100
39154,14,Thomas High School,Charter,1635,1043130,39154,Bradley Johnson,M,12th,91,71,100,100
39155,14,Thomas High School,Charter,1635,1043130,39155,John Brooks,M,10th,92,98,100,100
39156,14,Thomas High School,Charter,1635,1043130,39156,Stephanie Contreras,F,11th,79,95,100,100
39157,14,Thomas High School,Charter,1635,1043130,39157,Kristen Gonzalez,F,9th,79,94,100,100
39158,14,Thomas High School,Charter,1635,1043130,39158,Kari Holloway,F,10th,87,90,100,100
39159,14,Thomas High School,Charter,1635,1043130,39159,Kimberly Cabrera,F,11th,85,72,100,100
39160,14,Thomas High School,Charter,1635,1043130,39160,Katie Weaver,F,11th,89,86,100,100
39161,14,Thomas High School,Charter,1635,1043130,39161,April Reyes,F,10th,70,84,100,100
39162,14,Thomas High School,Charter,1635,1043130,39162,Derek Weeks,M,12th,94,77,100,100
39163,14,Thomas High School,Charter,1635,1043130,39163,John Reese,M,11th,90,75,100,100
39164,14,Thomas High School,Charter,1635,1043130,39164,Joseph Anthony,M,9th,97,76,100,100
39165,14,Thomas High School,Charter,1635,1043130,39165,Donna Howard,F,12th,99,90,100,100
39166,14,Thomas High School,Charter,1635,1043130,39166,Dawn Bell,F,10th,95,70,100,100
39167,14,Thomas High School,Charter,1635,1043130,39167,Rebecca Tanner,F,9th,73,84,100,100
39168,14,Thomas High School,Charter,1635,1043130,39168,Desiree Kidd,F,10th,99,90,100,100
39169,14,Thomas High School,Charter,1635,1043130,39169,Carolyn Jackson,F,11th,95,75,100,100

In [16]:
average_scores_schools = merged_school_data.groupby(['school_name'])['Pass Math','Pass Reading']

average_scores_schools.mean()

                       Pass Math  Pass Reading
school_name
Bailey High School     66.680064     81.933280
Cabrera High School    94.133477     97.039828
Figueroa High School   65.988471     80.739234
Ford High School       68.309602     79.299014
Griffin High School    93.392371     97.138965
Hernandez High School  66.752967     80.862999
Holden High School     92.505855     96.252927
Huang High School      65.683922     81.316421
Johnson High School    66.057551     81.222432
Pena High School       94.594595     95.945946
Rodriguez High School  66.366592     80.220055
Shelton High School    93.867121     95.854628
Thomas High School     93.272171     97.308869
Wilson High School     93.867718     96.539641
Wright High School     93.333333     96.611111

In [17]:
total_students_per_school = merged_school_data["school_name"].value_counts()

total_students_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [18]:
total_budgets = merged_school_data.groupby(['school_name'])['budget'].mean()

total_budgets

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [19]:
per_student_budget = [total_budgets/total_students_per_school]
per_student_budget

[Bailey High School       628.0
 Cabrera High School      582.0
 Figueroa High School     639.0
 Ford High School         644.0
 Griffin High School      625.0
 Hernandez High School    652.0
 Holden High School       581.0
 Huang High School        655.0
 Johnson High School      650.0
 Pena High School         609.0
 Rodriguez High School    637.0
 Shelton High School      600.0
 Thomas High School       638.0
 Wilson High School       578.0
 Wright High School       583.0
 dtype: float64]

In [20]:
average_school_math_reading = merged_school_data.groupby(['school_name'])['size','math_score', 'reading_score', 'Pass Math', "Pass Reading", 'budget'].mean()
round(average_school_math_reading, 2)

,size,math_score,reading_score,Pass Math,Pass Reading,budget
school_name,,,,,,
Bailey High School,4976.0,77.05,81.03,66.68,81.93,3124928.0
Cabrera High School,1858.0,83.06,83.98,94.13,97.04,1081356.0
Figueroa High School,2949.0,76.71,81.16,65.99,80.74,1884411.0
Ford High School,2739.0,77.10,80.75,68.31,79.30,1763916.0
Griffin High School,1468.0,83.35,83.82,93.39,97.14,917500.0
Hernandez High School,4635.0,77.29,80.93,66.75,80.86,3022020.0
Holden High School,427.0,83.80,83.81,92.51,96.25,248087.0
Huang High School,2917.0,76.63,81.18,65.68,81.32,1910635.0
Johnson High School,4761.0,77.07,80.97,66.06,81.22,3094650.0
Pena High School,962.0,83.84,84.04,94.59,95.95,585858.0
Rodriguez High School,3999.0,76.84,80.74,66.37,80.22,2547363.0
Shelton High School,1761.0,83.36,83.73,93.87,95.85,1056600.0
Thomas High School,1635.0,83.42,83.85,93.27,97.31,1043130.0
Wilson High School,2283.0,83.27,83.99,93.87,96.54,1319574.0
Wright High School,1800.0,83.68,83.96,93.33,96.61,1049400.0

In [21]:
# Average passing rate
average_school_math_reading["% Overall Passing rate"] = (average_school_math_reading["Pass Math"] +
average_school_math_reading["Pass Reading"]) / 2

average_school_math_reading["Budget Per Student"] = average_school_math_reading["budget"] / average_school_math_reading['size']
 
average_school_math_reading

,size,math_score,reading_score,Pass Math,Pass Reading,budget,% Overall Passing rate,Budget Per Student
school_name,,,,,,,,
Bailey High School,4976.0,77.048432,81.033963,66.680064,81.933280,3124928.0,74.306672,628.0
Cabrera High School,1858.0,83.061895,83.975780,94.133477,97.039828,1081356.0,95.586652,582.0
Figueroa High School,2949.0,76.711767,81.158020,65.988471,80.739234,1884411.0,73.363852,639.0
Ford High School,2739.0,77.102592,80.746258,68.309602,79.299014,1763916.0,73.804308,644.0
Griffin High School,1468.0,83.351499,83.816757,93.392371,97.138965,917500.0,95.265668,625.0
Hernandez High School,4635.0,77.289752,80.934412,66.752967,80.862999,3022020.0,73.807983,652.0
Holden High School,427.0,83.803279,83.814988,92.505855,96.252927,248087.0,94.379391,581.0
Huang High School,2917.0,76.629414,81.182722,65.683922,81.316421,1910635.0,73.500171,655.0
Johnson High School,4761.0,77.072464,80.966394,66.057551,81.222432,3094650.0,73.639992,650.0
Pena High School,962.0,83.839917,84.044699,94.594595,95.945946,585858.0,95.270270,609.0
Rodriguez High School,3999.0,76.842711,80.744686,66.366592,80.220055,2547363.0,73.293323,637.0
Shelton High School,1761.0,83.359455,83.725724,93.867121,95.854628,1056600.0,94.860875,600.0
Thomas High School,1635.0,83.418349,83.848930,93.272171,97.308869,1043130.0,95.290520,638.0
Wilson High School,2283.0,83.274201,83.989488,93.867718,96.539641,1319574.0,95.203679,578.0
Wright High School,1800.0,83.682222,83.955000,93.333333,96.611111,1049400.0,94.972222,583.0

In [22]:
list(average_school_math_reading.index.values)

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [23]:
schools_df = pd.merge(average_school_math_reading, school_data, how = 'outer', on=['school_name'])

schools_df

,school_name,size_x,math_score,reading_score,Pass Math,Pass Reading,budget_x,% Overall Passing rate,Budget Per Student,School ID,type,size_y,budget_y
0,Bailey High School,4976.0,77.048432,81.033963,66.680064,81.933280,3124928.0,74.306672,628.0,7,District,4976,3124928
1,Cabrera High School,1858.0,83.061895,83.975780,94.133477,97.039828,1081356.0,95.586652,582.0,6,Charter,1858,1081356
2,Figueroa High School,2949.0,76.711767,81.158020,65.988471,80.739234,1884411.0,73.363852,639.0,1,District,2949,1884411
3,Ford High School,2739.0,77.102592,80.746258,68.309602,79.299014,1763916.0,73.804308,644.0,13,District,2739,1763916
4,Griffin High School,1468.0,83.351499,83.816757,93.392371,97.138965,917500.0,95.265668,625.0,4,Charter,1468,917500
5,Hernandez High School,4635.0,77.289752,80.934412,66.752967,80.862999,3022020.0,73.807983,652.0,3,District,4635,3022020
6,Holden High School,427.0,83.803279,83.814988,92.505855,96.252927,248087.0,94.379391,581.0,8,Charter,427,248087
7,Huang High School,2917.0,76.629414,81.182722,65.683922,81.316421,1910635.0,73.500171,655.0,0,District,2917,1910635
8,Johnson High School,4761.0,77.072464,80.966394,66.057551,81.222432,3094650.0,73.639992,650.0,12,District,4761,3094650
9,Pena High School,962.0,83.839917,84.044699,94.594595,95.945946,585858.0,95.270270,609.0,9,Charter,962,585858
10,Rodriguez High School,3999.0,76.842711,80.744686,66.366592,80.220055,2547363.0,73.293323,637.0,11,District,3999,2547363
11,Shelton High School,1761.0,83.359455,83.725724,93.867121,95.854628,1056600.0,94.860875,600.0,2,Charter,1761,1056600
12,Thomas High School,1635.0,83.418349,83.848930,93.272171,97.308869,1043130.0,95.290520,638.0,14,Charter,1635,1043130
13,Wilson High School,2283.0,83.274201,83.989488,93.867718,96.539641,1319574.0,95.203679,578.0,5,Charter,2283,1319574
14,Wright High School,1800.0,83.682222,83.955000,93.333333,96.611111,1049400.0,94.972222,583.0,10,Charter,1800,1049400

In [26]:
schools_df = schools_df.rename(columns={"school_name": "School Name", "math_score": "Math Score",
                                        "reading_score":"Reading Score", "type":"Type", "size_y":"Size", "budget_y":"Budget"})
schools_df

,School Name,Math Score,Reading Score,Pass Math,Pass Reading,% Overall Passing rate,Budget Per Student,School ID,Type,Size,Budget
0,Bailey High School,77.048432,81.033963,66.680064,81.933280,74.306672,628.0,7,District,4976,3124928
1,Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652,582.0,6,Charter,1858,1081356
2,Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363852,639.0,1,District,2949,1884411
3,Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308,644.0,13,District,2739,1763916
4,Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668,625.0,4,Charter,1468,917500
5,Hernandez High School,77.289752,80.934412,66.752967,80.862999,73.807983,652.0,3,District,4635,3022020
6,Holden High School,83.803279,83.814988,92.505855,96.252927,94.379391,581.0,8,Charter,427,248087
7,Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171,655.0,0,District,2917,1910635
8,Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992,650.0,12,District,4761,3094650
9,Pena High School,83.839917,84.044699,94.594595,95.945946,95.270270,609.0,9,Charter,962,585858
10,Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323,637.0,11,District,3999,2547363
11,Shelton High School,83.359455,83.725724,93.867121,95.854628,94.860875,600.0,2,Charter,1761,1056600
12,Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520,638.0,14,Charter,1635,1043130
13,Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679,578.0,5,Charter,2283,1319574
14,Wright High School,83.682222,83.955000,93.333333,96.611111,94.972222,583.0,10,Charter,1800,1049400

In [25]:
# Deleting extra/duplicate columns

del schools_df['size_x']
del schools_df['budget_x']

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [27]:
top_five_schools = schools_df.sort_values(by=['% Overall Passing rate'], ascending=False).head(5)

top_five_schools

,School Name,Math Score,Reading Score,Pass Math,Pass Reading,% Overall Passing rate,Budget Per Student,School ID,Type,Size,Budget
1,Cabrera High School,83.061895,83.975780,94.133477,97.039828,95.586652,582.0,6,Charter,1858,1081356
12,Thomas High School,83.418349,83.848930,93.272171,97.308869,95.290520,638.0,14,Charter,1635,1043130
9,Pena High School,83.839917,84.044699,94.594595,95.945946,95.270270,609.0,9,Charter,962,585858
4,Griffin High School,83.351499,83.816757,93.392371,97.138965,95.265668,625.0,4,Charter,1468,917500
13,Wilson High School,83.274201,83.989488,93.867718,96.539641,95.203679,578.0,5,Charter,2283,1319574

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [28]:
bottom_five_schools = schools_df.sort_values(by=['% Overall Passing rate'], ascending=True).head(5)
bottom_five_schools

,School Name,Math Score,Reading Score,Pass Math,Pass Reading,% Overall Passing rate,Budget Per Student,School ID,Type,Size,Budget
10,Rodriguez High School,76.842711,80.744686,66.366592,80.220055,73.293323,637.0,11,District,3999,2547363
2,Figueroa High School,76.711767,81.158020,65.988471,80.739234,73.363852,639.0,1,District,2949,1884411
7,Huang High School,76.629414,81.182722,65.683922,81.316421,73.500171,655.0,0,District,2917,1910635
8,Johnson High School,77.072464,80.966394,66.057551,81.222432,73.639992,650.0,12,District,4761,3094650
3,Ford High School,77.102592,80.746258,68.309602,79.299014,73.804308,644.0,13,District,2739,1763916

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [29]:
math_scores_by_grade_df = pd.pivot_table(student_data, values=["math_score"], index=["school_name"],
                                        columns=["grade"])

math_scores_by_grade_df

                      math_score
grade                       10th       11th       12th        9th
school_name
Bailey High School     76.996772  77.515588  76.492218  77.083676
Cabrera High School    83.154506  82.765560  83.277487  83.094697
Figueroa High School   76.539974  76.884344  77.151369  76.403037
Ford High School       77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Hernandez High School  77.337408  77.136029  77.186567  77.438495
Holden High School     83.429825  85.000000  82.855422  83.787402
Huang High School      75.908735  76.446602  77.225641  77.027251
Johnson High School    76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Rodriguez High School  76.612500  76.395626  77.690748  76.859966
Shelton High School    82.917411  83.383495  83.778976  83.420755
Thomas High School     83.087886  83.498795  83.497041  83.590022
Wilson High School     83.724422  83.195326  83.035794  83.085578
Wright High School     84.010288  83.836782  83.644986  83.264706

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [30]:
reading_scores_by_grade_df = pd.pivot_table(student_data, values=["reading_score"], index=["school_name"],
                                        columns=["grade"])

reading_scores_by_grade_df

                      reading_score
grade                          10th       11th       12th        9th
school_name
Bailey High School        80.907183  80.945643  80.912451  81.303155
Cabrera High School       84.253219  83.788382  84.287958  83.676136
Figueroa High School      81.408912  80.640339  81.384863  81.198598
Ford High School          81.262712  80.403642  80.662338  80.632653
Griffin High School       83.706897  84.288089  84.013699  83.369193
Hernandez High School     80.660147  81.396140  80.857143  80.866860
Holden High School        83.324561  83.815534  84.698795  83.677165
Huang High School         81.512386  81.417476  80.305983  81.290284
Johnson High School       80.773431  80.616027  81.227564  81.260714
Pena High School          83.612000  84.335938  84.591160  83.807273
Rodriguez High School     80.629808  80.864811  80.376426  80.993127
Shelton High School       83.441964  84.373786  82.781671  84.122642
Thomas High School        84.254157  83.585542  83.831361  83.728850
Wilson High School        84.021452  83.764608  84.317673  83.939778
Wright High School        83.812757  84.156322  84.073171  83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [31]:
# Sample bins. Feel free to create your own bins.
bins = [0, 585, 615, 645, 675]
spending_labels = ["$0-585", "$585-615", "$615-645", "$645-675"]

In [32]:
bins_school_spending = pd.cut(schools_df['Budget Per Student'], bins, labels=spending_labels)

bins_school_spending = pd.DataFrame(bins_school_spending)

schools_df['Spending Level'] = bins_school_spending

bins_school_spending

   Budget Per Student
0            $615-645
1              $0-585
2            $615-645
3            $615-645
4            $615-645
5            $645-675
6              $0-585
7            $645-675
8            $645-675
9            $585-615
10           $615-645
11           $585-615
12           $615-645
13             $0-585
14             $0-585

In [33]:
scores_by_school_spending = schools_df.groupby(['Spending Level'])['Reading Score',
                                                        'Math Score',
                                                        'Pass Reading',
                                                        'Pass Math',
                                                        '% Overall Passing rate'
                                                        ].mean()
scores_by_school_spending

,Reading Score,Math Score,Pass Reading,Pass Math,% Overall Passing rate
Spending Level,,,,,
$0-585,83.933814,83.455399,96.610877,93.460096,95.035486
$585-615,83.885211,83.599686,95.900287,94.230858,95.065572
$615-645,81.891436,79.079225,86.106569,75.668212,80.887391
$645-675,81.027843,76.997210,81.133951,66.164813,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [34]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [35]:
bins_school_size = pd.cut(schools_df['Size'], size_bins, labels=group_names)

bins_school_size = pd.DataFrame(bins_school_size)

schools_df['Size Level'] = bins_school_size

bins_school_size

                  Size
0    Large (2000-5000)
1   Medium (1000-2000)
2    Large (2000-5000)
3    Large (2000-5000)
4   Medium (1000-2000)
5    Large (2000-5000)
6        Small (<1000)
7    Large (2000-5000)
8    Large (2000-5000)
9        Small (<1000)
10   Large (2000-5000)
11  Medium (1000-2000)
12  Medium (1000-2000)
13   Large (2000-5000)
14  Medium (1000-2000)

In [36]:
scores_by_school_size = schools_df.groupby(['Size Level'])['Reading Score',
                                                        'Math Score',
                                                        'Pass Reading',
                                                        'Pass Math',
                                                        '% Overall Passing rate'
                                                        ].mean()
scores_by_school_size

,Reading Score,Math Score,Pass Reading,Pass Math,% Overall Passing rate
Size Level,,,,,
Large (2000-5000),81.344493,77.746417,82.766634,69.963361,76.364998
Medium (1000-2000),83.864438,83.374684,96.790680,93.599695,95.195187
Small (<1000),83.929843,83.821598,96.099437,93.550225,94.824831

## Scores by School Type

* Perform the same operations as above, based on school type.

In [37]:
scores_by_school_size = schools_df.groupby(['Type'])['Reading Score',
                                                        'Math Score',
                                                        'Pass Reading',
                                                        'Pass Math',
                                                        '% Overall Passing rate'
                                                        ].mean()
scores_by_school_size

,Reading Score,Math Score,Pass Reading,Pass Math,% Overall Passing rate
Type,,,,,
Charter,83.896421,83.473852,96.586489,93.620830,95.103660
District,80.966636,76.956733,80.799062,66.548453,73.673757

In [ ]:
# Observation 1:

# Students in charter schools are much more likely to pass their reading and math classes than their disctrict counter parts.

# Observation 2:

# Schools over 200 students have the lowest overall passing rate.

# Weird Observation:

# According to this data, schools that are in the highest per student spending bracket produce the lowest average passing rate.